<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Lesson Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Driver training Webapp</h1>
		<hr>
		<h2>Save new lesson</h2>

		<form action="#" th:action="@{/saveEmployee}" th:object="${employee}"
			method="POST">
			Edit ID:<input type="text" th:field="*{id}"
					   placeholder="Student ID" class="form-control mb-4 col-4">

			Edit Name:<input type="text" th:field="*{studentname}"
				placeholder="Student Name" class="form-control mb-4 col-4">

			Edit Date:<input type="text" th:field="*{date}"
				   placeholder="Date" class="form-control mb-4 col-4">

			Edit Location:<input type="text" th:field="*{location}"
				   placeholder="Location" class="form-control mb-4 col-4">

			Edit Positive Notes:<input type="text" th:field="*{positivepoints}"
				   placeholder="Positive Points" class="form-control mb-4 col-4">

			Edit Negatvie Notes:<input type="text" th:field="*{negativepoints}"
				   placeholder="Negative Points" class="form-control mb-4 col-4">

			Edit Student Notes:<input type="text" th:field="*{studentnotes}"
				   placeholder="Student Notes" class="form-control mb-4 col-4">

			Edit Instructor ID:<input type="text" th:field="*{instructorid}"
				   placeholder="Instructor ID" class="form-control mb-4 col-4">

			Edit Instructor Name:<input type="text" th:field="*{instructorname}"
				   placeholder="Instructor Name" class="form-control mb-4 col-4">

			Edit Instructor Notes:<input type="text" th:field="*{instructornotes}"
				   placeholder="Instructor Notes" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Save Employee</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Student List</a>
	</div>
</body>
</html>